.dashboardWelcomeContainer {
  background: #fff;
  color: #535353;
  padding: 20;
  margin: 1rem 0 1rem;

  h1 {
    margin: 1rem;
  }

  p {
    margin: 1rem;
  }
}

.chartsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1080px) {
  .chartsContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .chartsContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
