.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  background: url(https://source.unsplash.com/random/1600x900);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  min-width: 300px;
  margin-top: 6em;
}

.avatar {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.hint {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  color: #aaa
}

.formContainer {
  padding: 0 1em 1em 1em;
}

.inputContainer {
  margin-top: 1em;
}

.signInButtonContainer {
  padding: 0 1em 1em 1em;
}
